.footer_mini{
    padding: 50px ;
    background: #E5E5E5;
}

.footer_mini_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footermini_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.footermini_card div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #53493C;
    margin-right: 20px;
    transition: .2s all linear;
}
.footer_mini {
    padding: 50px;
    background: #E5E5E5;
}

.footer_mini_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footermini_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footermini_card div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #53493C;
    margin-right: 20px;
    transition: 0.2s all linear;
}

.footermini_card:hover div {
    background-color: #FFB337; /* Hover paytida div bg o'zgaradi */
    border: none;
}
.footermini_card:hover h4{
    color: #FFB337;

}
.footermini_card h4:hover {
    color: #FFB337;
}

.footermini_card h4{
font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex
;
    align-items: center;
    color: #53493C;
    transition: .2s all linear;
}
.footer_mini_wrapper button{
    width: 195px;
    height: 45px;
    box-shadow: 0px 18px 36px rgba(141, 103, 45, 0.24);
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex
;
    align-items: center;
    text-align: center;
    color: #53493C;
    background: #FFB337;
    border: 2px solid #F8AB2D;
    justify-content: center;
    transition: .2s all linear;
}

.footer_mini_wrapper button:hover{
    color: #000000;
    background-color: transparent;
}

@media(max-width:1230px){
    .footermini_card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .footer_mini_wrapper{
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media(max-width:720px){
    .footer_mini {
        padding: 10px;
    }
    .footer_mini_wrapper{
        flex-direction: column;
        /* align-items: center; */
    }
    .FooterCard{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
